{
    order webdav last
}

:8888 {
    log
    root * /
    reverse_proxy localhost:8080

    handle_path /files/* {
        file_server browse
    }
    redir /files /files/

    handle /webdav/* {
        webdav {
            prefix /webdav
        }
    }
    redir /webdav /webdav/

    basicauth /* {
        {env.USERNAME} {env.PASSWORD_HASH}
    }
}
